/* Navigation bar */

.navbar{
    position: sticky;
    top: 0;
}

.navbar ul{
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a{
    color: pink;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: pink;
    color: white;
    border-radius: 5%;
}

.navbar li{
    float: left;
}

#manage{
    float: right;
}

/* Top of the page */

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-width: 5%;
    border: 5px solid #FF8AC4;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
    color: #FF8AC4;
    }

/* Body of the page */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAD8CC;
}

h3{
    font-weight: bold;
    color: #FF8AC4;
}

/* Table */

table{
    border: 1px;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 10px;
}

th{
    background-color: pink;
    color: #FF8AC4;
    font-size: 20px;
}

td{
    background-color: white;
    color: purple;
    font-size: 15px;
    font-family: 'Roberto'
}

td, th{
    border: .1px solid black;
    padding: 10px;
    text-align: center;
}

tr:hover{
    background-color: purple;
    color: white;
}

#proj_name{
    border: none;
    outline: none;
    text-align: center;
    color: purple;
}

/* Drop down menu for "For Sale?" */

#selling{
    border-radius: 50%;
    text-align: center;
    color: purple;
    background: white;
    border: none;
    outline: none;
}

#selling:hover{
    cursor: pointer;
    }

/* Footer */

footer{
    background-color: white;
    color: pink;
    padding: 15px;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
}