.navbar{
    position: sticky;
    top: 0;
}

.navbar ul{
    list-style-type: none;
    background-color: #7c3f00;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #633200;
}

.navbar li{
    float: left;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcf3e9;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-width: 5%;
    border: 5px solid #472A28;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
}

h3{
    font-weight: bold;
    color: #5A4D41;
}

/* All links */
.links a{
    text-decoration: none;
}

.links a:hover{
    text-decoration: underline;
}

/* "Most Used" links */

#classlink{
    margin-top: 5px;
}

#class{
    margin-top: 5px;
}

#monkeytype{
    margin-top: 5px;
}

#scientific{
    margin-top: 5px;
}

#graphing{
    margin-top: 5px;
}

#dict{
    margin-top: 5px;
}

#char{
    margin-top: 5px;
}

/* "Courses" links */

#history{
    margin-top: 5px;
}

#spanish{
    margin-top: 5px;
}

#lit{
    margin-top: 5px;
}

#healthcare{
    margin-top: 5px;
}

#geometry{
    margin-top: 5px;
}

#ghealth{
    margin-top: 5px;
}

a[href="https://myapps.classlink.com/home"]{
    color: blue;
}

a[href="https://fultonschools.class.com/teams"]{
    color: blue;
}

a[href="https://fultonschools.instructure.com/courses/470167/modules"]{
    color: blue;
}

a[href="https://fultonvirtual.instructure.com/courses/1228/modules"]{
    color: blue;
}

a[href="https://fultonschools.instructure.com/courses/470579/modules"]{
    color: blue;
}

a[href="https://fultonschools.instructure.com/courses/470626/modules"]{
    color: blue;
}

a[href="https://fultonschools.instructure.com/courses/469481/modules"]{
    color: blue;
}

a[href="https://fultonvirtual.instructure.com/courses/973/modules"]{
    color: blue;
}

a[href="https://monkeytype.com/#google_vignette"]{
    color: blue;
}

a[href="https://www.desmos.com/scientific"]{
    color: blue;
}

a[href="https://www.desmos.com/calculator"]{
    color: blue;
}

a[href="https://www.spanishdict.com/"]{
    color: blue;
}

a[href="https://www.spanishdict.com/answers/282262/how-to-type-spanish-letters-and-accents-from-paralee"]{
    color: blue;
}

footer{
    background-color: #7c3f00;
    color: white;
    padding: 15px;
    margin-bottom: 0px;
}

.manage{
    color: royalblue;
    text-decoration: none;
}

.manage:hover{
    text-decoration: underline;
}