.navbar ul{
    list-style-type: none;
    background-color: #7c3f00;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #633200;
}

.navbar li{
    float: left;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcf3e9;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-width: 5%;
    border: 5px solid #472A28;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
}